@import "../general/general";

.schedule__container {
	.main {
		width: 100%;
		padding: 0 2.5rem 0 2rem;
		margin: 2.4rem auto;
		font-family: $main_font;
		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title {
				font-size: $title_font_size;
				font-weight: bold;
			}

			.add__btn {
				.btn {
					padding: 13.5px 19px;
					font-size: 14px;
					cursor: pointer;
					background-color: $button_color;
					font-size: $primary_font_size;
					color: $text_color_light_button;
					outline: none;
					border: none;
					border-radius: 8px;
					font-family: $main_font;
					font-weight: 500;
				}
			}
		}

		.main__container {
			width: 100%;
			margin: auto;
			margin-top: 2.2rem;
			background-color: #ffff;
			min-height: 22rem;
			border: 1px solid hsl(0, 0%, 90%);
			box-shadow: 0 0 2px hsl(0, 0%, 90%);
			padding: 1rem 1.2rem;
			@include flex($dir: column, $just: flex-start);
			position: relative;

			.head {
				@include flex($just: space-between, $gap: 20px);
				padding: 0.3rem 0 6px;
				width: 100%;
				border-bottom: 1px solid $border_color;
				p {
					font-size: $primary_font_size;
					font-weight: 500;
					width: 14%;
					text-align: center;
				}
			}

			.blocks {
				width: 100%;
				min-height: 17rem;
				@include flex($just: space-between, $gap: auto, $align: flex-start);
				position: relative;
				overflow: hidden;

				.weekday {
					// text-align: left;
					min-width: 11%;
					min-height: 17rem;
					@include flex($just: flex-start, $align: flex-start, $dir: column);
				}

				.today {
					padding: 10px;
					border-radius: 10px;
					background-color: rgba(173, 216, 230, 0.678);
				}
			}
		}

		.info {
			width: 100%;
			margin: auto;
			margin-top: 2rem;
			padding: 10px;
			text-align: center;
			border-radius: 10px;

			p {
				color: #333;
				font-size: $primary_font_size;
			}
		}

		.ongoing {
			background-color: #4bb543;
			p {
				color: yellow;
			}
		}

		.upcoming {
			background-color: #ffe6008a;
		}
	}
}
